body {
    font-family: 'Kumbh Sans', monospace;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--white);
    width: 70%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 6rem;
    border-bottom: 1px rgb(238, 238, 238) solid;

    ul {
        display: flex;
        list-style: none;
        margin-right: auto;
        column-gap: 1rem;
        align-items: center;
        margin-top: -0.5rem;

        li:first-child {
            margin-right: 2rem;
        }
    }

    div {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        img {
            max-width: 50%;
            height: auto;
            margin-right: -2.5rem;
        }
    }
}

main {
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    .left {
        width: 42%;

        img {
            max-width: 100%;
            height: auto;
            border: 0 solid transparent;
            border-radius: 1rem;
        }
    }

    .right {
        width: 47%;
        margin-top: 3rem;

        .sneaker {
            color: var(--orange);
            font-weight: 800;
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
        }

        h1 {
            font-size: 32px;
            color: var(--vark-blue);
            margin-bottom: 1.5rem;
        }

        p {
            color: var(--vark-blue);
            margin-bottom: 1rem;
            font-size: 15px;
        }

        .discount {
            font-weight: 800;
            font-size: 18px;
            margin-bottom: 0.2rem;

            span {
                margin-left: 0.6rem;
                font-size: 13px;
                padding: 0.1rem 0.3rem;
                color: var(--orange);
                background-color: var(--pale-orange);
                border-radius: 0.2rem;
            }
        }

        .real-price {
            font-size: 13px;
            color: rgb(145, 145, 145);
            text-decoration: line-through;
            margin-bottom: 1rem;
        }

        .card {
            display: flex;
            justify-content: space-between;

            .number-container {
                display: flex;
                width: 35%;
                .btn {
                    background-color: var(--light-gray-blue);
                    color: var(--orange);
                    font-weight: 800;
                    font-size: 1.2rem;
                    border: none;
                    padding: 0 1rem;
                }
                input[type="number"]{
                    text-align: end;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                    background-color: var(--light-gray-blue);
                    width: 50%;
                }
            }

            #add-cart {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 1rem;
                color: var(--white);
                border: none;
                width: 60%;
                height: 2.5rem;
                background-color: var(--orange);
                border-radius: 0.4rem;
                outline: none;
            }
        }
    }
}